:root{
    --color-gray-0:#fafafa;
    --color-gray-10:#f5f5f5;
    --color-gray-20:#e5e5e5;
    --color-gray-30:#ccc;
    --color-gray-40:#b2b2b2;
    --color-gray-50:#949494;
    --color-gray-60:#858585;
    --color-gray-70:#767676;
    --color-gray-80:#545454;
    --color-gray-90:#333;
    --color-gray-100:#202020;
    --color-red-0:#fdf0f0;
    --color-red-10:#fee1e1;
    --color-red-20:#ffb8b8;
    --color-red-30:#fc9595;
    --color-red-40:#fc8783;
    --color-red-50:#e85451;
    --color-red-60:#e84846;
    --color-red-70:#d92e2b;
    --color-red-80:#cc3131;
    --color-red-90:#a81010;
    --color-red-100:#870e0e;
    --color-orange-0:#fff3eb;
    --color-orange-10:#ffe8d9;
    --color-orange-20:#ffc49c;
    --color-orange-30:#ffac73;
    --color-orange-40:#ff9f5e;
    --color-orange-50:#ed6809;
    --color-orange-60:#e35b00;
    --color-orange-70:#cd4d03;
    --color-orange-80:#c04802;
    --color-orange-90:#930;
    --color-orange-100:#802d00;
    --color-yellow-0:#fff8db;
    --color-yellow-10:#fff3bd;
    --color-yellow-20:#ffe999;
    --color-yellow-30:#ffe07a;
    --color-yellow-40:#ffce38;
    --color-yellow-50:#c98714;
    --color-yellow-60:#bf780d;
    --color-yellow-70:#ad6505;
    --color-yellow-80:#a36008;
    --color-yellow-90:#7d4801;
    --color-yellow-100:#693b00;
    --color-lime-0:#edfcde;
    --color-lime-10:#dffac8;
    --color-lime-20:#bbef9a;
    --color-lime-30:#aae583;
    --color-lime-40:#87d455;
    --color-lime-50:#44aa02;
    --color-lime-60:#3e9e00;
    --color-lime-70:#3b8700;
    --color-lime-80:#43800f;
    --color-lime-90:#360;
    --color-lime-100:#264c00;
    --color-forest-0:#e8fceb;
    --color-forest-10:#d2f7dd;
    --color-forest-20:#a5e8bd;
    --color-forest-30:#7ddba0;
    --color-forest-40:#5ecc88;
    --color-forest-50:#0fa646;
    --color-forest-60:#009436;
    --color-forest-70:#078734;
    --color-forest-80:#097d33;
    --color-forest-90:#006625;
    --color-forest-100:#00521b;
    --color-teal-0:#e6faf6;
    --color-teal-10:#d2f7f1;
    --color-teal-20:#9ee8e0;
    --color-teal-30:#7ee0db;
    --color-teal-40:#5accc5;
    --color-teal-50:#03a6a0;
    --color-teal-60:#0f968d;
    --color-teal-70:#018577;
    --color-teal-80:#057d71;
    --color-teal-90:#02645a;
    --color-teal-100:#004d47;
    --color-sky-0:#eaf9fe;
    --color-sky-10:#d0f2fe;
    --color-sky-20:#abe9ff;
    --color-sky-30:#86d7f7;
    --color-sky-40:#71c9f5;
    --color-sky-50:#0b9be3;
    --color-sky-60:#0090e3;
    --color-sky-70:#007bc4;
    --color-sky-80:#0275b8;
    --color-sky-90:#00578a;
    --color-sky-100:#004a75;
    --color-ocean-0:#ebf5ff;
    --color-ocean-10:#d3eaff;
    --color-ocean-20:#a8d5ff;
    --color-ocean-30:#86bff9;
    --color-ocean-40:#7db6fa;
    --color-ocean-50:#4e90ed;
    --color-ocean-60:#377ced;
    --color-ocean-70:#3374d6;
    --color-ocean-80:#2668c9;
    --color-ocean-90:#0b4db8;
    --color-ocean-100:#0b4096;
    --color-indigo-0:#f1f1ff;
    --color-indigo-10:#e5e5ff;
    --color-indigo-20:#ccf;
    --color-indigo-30:#b3b3fc;
    --color-indigo-40:#aaaafe;
    --color-indigo-50:#8282f5;
    --color-indigo-60:#7171eb;
    --color-indigo-70:#6262e3;
    --color-indigo-80:#5b5bcf;
    --color-indigo-90:#4343c4;
    --color-indigo-100:#37379e;
    --color-violet-0:#f7f0ff;
    --color-violet-10:#efe5ff;
    --color-violet-20:#e3ccff;
    --color-violet-30:#d6b0ff;
    --color-violet-40:#cfa1fb;
    --color-violet-50:#b47bed;
    --color-violet-60:#ab5eeb;
    --color-violet-70:#9e4ddb;
    --color-violet-80:#8e47c9;
    --color-violet-90:#7b1fc2;
    --color-violet-100:#641c94;
    --color-fuchsia-0:#fef0ff;
    --color-fuchsia-10:#fde3ff;
    --color-fuchsia-20:#fbc9ff;
    --color-fuchsia-30:#f6b1fa;
    --color-fuchsia-40:#f09af5;
    --color-fuchsia-50:#dc62e3;
    --color-fuchsia-60:#d558db;
    --color-fuchsia-70:#bd3cc2;
    --color-fuchsia-80:#b43eb8;
    --color-fuchsia-90:#9c119c;
    --color-fuchsia-100:#851c85;
    --color-magenta-0:#fff0fa;
    --color-magenta-10:#ffe3f1;
    --color-magenta-20:#ffc4dd;
    --color-magenta-30:#ffa8c7;
    --color-magenta-40:#ff94ba;
    --color-magenta-50:#f25e95;
    --color-magenta-60:#eb528f;
    --color-magenta-70:#d73277;
    --color-magenta-80:#c6356a;
    --color-magenta-90:#a51250;
    --color-magenta-100: #8f0a41
}