@import url("/css/colors.css");

:root {
    --bg-color: var(--color-gray-20);
    --front-color: var(--color-gray-90);

    --bar-color: var(--front-color);
    --bar-bg-color: var(--color-gray-30);
    --bar-radius: 0.5rem;
    
    --player-bg-color: #8885;
    --player-backdrop-filter: blur(0.25rem);
    --player-btn-bgcolor: transparent;
    --player-font-family: sans-serif;
    --player-title-font-weight: 600;
    --player-artist-font-weight: 500;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--color-gray-90);
        --front-color: var(--color-gray-20);
        --bar-bg-color: var(--color-gray-80);
    }
}